<p *ngIf="!musicPlaylist || isLoading">Carregando playlist...</p>
<div class="recommended-music-genre" *ngIf="musicPlaylist && !isLoading">
  <p>
    Gênero musical recomendado:
    <b>{{ genre }}</b>
  </p>

  <ul>
    <li class="music-item" *ngFor="let music of musicPlaylist">
      <img class="cover" src="{{ music.image }}" alt="" />
      <span>
        <p class="music-item-label">{{ music.title }} - {{ music.subtitle }}</p>
        <button
          *ngIf="!isMusicOnPlaylist(music)"
          (click)="addMusicToStoragePlaylist(music)"
        >
          Adicionar a playlist
        </button>
        <p *ngIf="isMusicOnPlaylist(music)">
          Essa música já está na sua playlist
        </p>
      </span>
    </li>
  </ul>
</div>
