<p *ngIf="!musicPlaylist || isLoading">Carregando playlist...</p>
<div class="recommended-music-genre" *ngIf="musicPlaylist && !isLoading">
  <p>
    Gênero musical recomendado:
    <b>{{ genre }}</b>
  </p>

  <ul>
    <li class="music-item" *ngFor="let hit of this.musicPlaylist">
      <img class="cover" src="{{ hit.image }}" alt="" />
      <span>
        <p class="music-item-label">{{ hit.title }} - {{ hit.subtitle }}</p>
        <button (click)="getItem(hit)">Adicionar a playlist</button>
      </span>
    </li>
  </ul>
</div>
